<aside class="bg-white border-end" style="width:260px;min-height:100vh;">
  <div class="p-3">
    <h5 class="mb-3">{{ 'APP.TITLE' | translate }}</h5>
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" routerLink="/">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/courses">Courses</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/learning">Learning</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/analytics">Analytics</a></li>
    </ul>
  </div>
</aside>
